/* Universal Styling */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
    /* Center the columns horizontally */
    gap: 10px;
    /* Gap between columns */
    margin: 10px;
    /* Margin around the container */
    max-width: 100%;
    /* Ensure the container does not exceed the viewport width */
}

.column {
    flex: 1;
    /* Each column takes up an equal amount of space */
    padding: 10px;
    /* Optional: Add some padding inside the columns */
    box-sizing: border-box;
    /* Include padding in the column's total width */
}


.left {
    flex: 1;
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

body {
    min-width: 480px;
    height: 100%;
}

/* Header & Navigation */
header button {
    background-color: rgb(10, 53, 171);
    color: white;
    padding: 3px;
    border-radius: 2px;
    border: rgb(1, 9, 30) .1px solid;
    transition: box-shadow 0.3s ease;
}

header button:hover {
    box-shadow: 0 0 5px rgba(10, 53, 171, 0.5);
    cursor: pointer;
    transform: translateY(+2px);
    font-size: .7rem;
}

.intro {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

header h4 {
    font-weight: lighter;
    padding-bottom: 70px;
    ;
}

.textonimage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li:hover {
    cursor: pointer;
    transform: translateY(-2px);
    font-weight: bolder;
    font-size: .8rem;

}

nav ul li,
button {
    display: inline-block;
    font-size: .7rem;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0 10px;
}

#homeSubTag {
    text-align: center;
}

/* Cards */

.card {
    width: 100%;
    margin: 2px;
    border: lightslategray 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: .7rem;


}

.card,
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 3px 5px rgba(193, 199, 220, 0.3);
    /* Light shadow */
    transform: translateY(-3px);
    /* Lift the element by 3 pixels */
}

/* Calculator Styling */

.calculatorcontainer {
    background: whitesmoke;
    border: lightslategray .1px solid;
    box-shadow: 0 0 5px rgba(10, 53, 171, 0.2);
    border-radius: 5px;
    padding: 5px;
    font-size: .7rem;
    overflow: hidden;


}

.calculatorcontainer a {
    text-decoration: underline;
}

.calcrow {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.formfield {
    margin: 10px 10px 10px 0px;
    padding: 5px;
}

#convert_strengthVolNum {
    width: 55px;
}

#convert_per {
    margin: 3px;
}

#convert_mL {
    margin: 3px;
}

.result {
    margin: 5px;
    padding: 5px;
    font-size: 1.25em;
    font-weight: bold;
}

.calculatorcontainer button {
    font-size: 1rem;

}


h5 {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: .7rem;
    margin-left: 0px;
    padding-left: 0px;
}

.calculatorcontainer,
li {
    padding-left: 5px;
}